
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form label {
  font-size: 16px;
    margin-right: 10px;
    text-align: left;
    display: block;
}

form input {
  padding: 7px 10px;
  width: 100%;
  border: 1px solid #ccc;
}

form div {
  margin-bottom: 20px;
}

button {
  padding: 10px 31px;
  background: black;
  color: #fff;
  cursor: pointer;
  transition:all .4s ease;
}
span {
  display: block;
  margin-top: 10px;
  color: red;
}
form {
  max-width: 321px;
  margin: 0 auto;
  padding: 35px;
  background: rgb(204 204 204 / 32%);
}

button:hover {
  background: #fff;
  color: #000;
}